<div class="flex items-center justify-center w-screen h-max">
  <div class="mt-8 w-96">
    <mat-card appearance="outlined" class="p-5 mb-4">
      <h2 class="mb-4 text-lg text-center">
        Editar producto
      </h2>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-card-content class="space-y-2">
          <mat-form-field class="w-full" color="accent">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              [errorStateMatcher]="matcher"
            />
            @if (productForm.get("name")?.hasError("required")) {
            <mat-error>Nombre es requerido</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="w-full" color="accent">
            <mat-label>Categoría</mat-label>
            <input
              type="text"
              matInput
              formControlName="category"
              [errorStateMatcher]="matcher"
            />
            @if (productForm.get("category")?.hasError("required")) {
            <mat-error>Categoría es requerida</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-full" color="accent">
            <mat-label>Descripción</mat-label>
            <input
              type="text"
              matInput
              formControlName="description"
              [errorStateMatcher]="matcher"
            />
            @if (productForm.get("description")?.hasError("required")) {
            <mat-error>Descripción es requerida</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-full" color="accent" floatLabel="always">
            <mat-label>Precio</mat-label>
            <input
              type="number"
              matInput
              formControlName="price"
              placeholder="0"
              class="example-right-align"
              [errorStateMatcher]="matcher"
            />
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
            @if (productForm.get("price")?.hasError("required")) {
            <mat-error>Precio es requerido</mat-error>
            }
          </mat-form-field>

          <div class="w-full pb-4" color="accent">
            <input
              type="file"
              #fileInput
              (change)="onFileChange($event)"
              style="display: none"
            />
            <div class="flex items-center justify-between">
              <button
              mat-stroked-button
              color="accent"
              (click)="fileInput.click()"
              type="button"
            >
              Seleccionar imagen
            </button>
            @if (productForm.get('image')?.value !== null) {
              <button mat-icon-button color="{{fileValid ? 'accent': 'primary'}}" type="button">
                <mat-icon>{{fileValid ? 'check_circle': 'report_problem'}}</mat-icon>
              </button>
            } 
            </div>
          </div>

          <div class="flex flex-col items-center justify-center w-full gap-4">
            <button
              mat-raised-button
              color="accent"
              type="submit"
              [disabled]="!isValidForm || showSpinner"
            >
              Guardar
            </button>
            @if (showSpinner) {
            <mat-spinner diameter="30"></mat-spinner>
            }
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
