$primary-color: (
  50: #ffece5,
  100: #ffcebd,
  200: #ffae92,
  300: #ff8e66,
  400: #ff7545,
  500: #ff5d24,
  600: #ff5520,
  700: #ff4b1b,
  800: #ff4116,
  900: #ff300d,
  A100: #ffffff,
  A200: #fff7f6,
  A400: #ffcac3,
  A700: #ffb4aa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent-color: (
  50: #f2f1f4,
  100: #dfdde4,
  200: #cac6d2,
  300: #b5afc0,
  400: #a59eb3,
  500: #958da5,
  600: #8d859d,
  700: #827a93,
  800: #78708a,
  900: #675d79,
  A100: #f0e9ff,
  A200: #cfb7fd,
  A400: #ad82ff,
  A700: #9c69ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-palette-primary: mat.define-palette($primary-color, 800, 400, 100);
$my-palette-accent: mat.define-palette($accent-color, A400);
