<mat-drawer-container [autosize]="true" class="min-h-full border-x">
  <mat-drawer #drawer mode="side" closed class="p-6">
    <app-filters (sortChange)="onSortChange($event)" (categoryChange)="onCategoryChange($event)"/>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header [drawer]="drawer" (onColumnsCountChange)="onColumnsCountChange($event)"/>
    @if (loading) {
      <div class="flex flex-col items-center justify-center gap-4 mt-16">
        <h1>Cargando datos, esto podría tomar algunos segundos</h1>
        <mat-spinner diameter="30"></mat-spinner>
      </div>
    }
    @if (products && products.length) {
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      @for (product of products; track product.id) {
      <mat-grid-tile>
        <app-product-box
          class="self-start w-full"
          [product]="product"
          (onAddToCart)="addToCart(product)"
        />
      </mat-grid-tile>
      }
    </mat-grid-list>
    }
  </mat-drawer-content>
</mat-drawer-container>
