<mat-card class="max-w-[600px] m-auto py-4 px-8">
  <mat-card-header class="items-center mb-4">
    <div mat-card-avatar>
      <button mat-icon-button color="warn">
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <mat-card-title>Compra cancelada</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mb-4">
    <p>Su compra ha sido cancelada.</p>
  </mat-card-content>
  <mat-card-actions class="flex justify-center">
    <button mat-raised-button color="primary" routerLink="/">Ver productos</button>
  </mat-card-actions>
</mat-card>